@import "@/variables.scss";

.rikiki-table {
	.buttons-container {
		margin: 0 0 2rem 0;
		button {
			margin-right: 1rem;
		}
	}
	.add-new-row {
		margin: 5vh 0;
	}

	.p-column-title {
		font-size: 13px;
	}

	td.points_in_total {
		background-color: #06b6d4;
		color: white;
		font-weight: bold;
	}

	.round-title {
		display: inline-flex;
	}

	.inline-mini-button {
		display: inline-flex;
	}
}
