@import "@/variables.scss";

.rikiki-logo {
	width: 150px;
	margin-bottom: 5vh;
}

.rikiki-body {
	margin: 5vmax 5vw;
	@include for-size(mobile, down) {
		margin: 5vmax 2vw;
	}
}

.p-card.p-component {
	margin-bottom: 5vh;
}
